<h1>Make your form here</h1>
<form class="" action="/pirates" method="post">
  <p>Pirate name: <input type="text" name="pirate[name]" value=""></p>
  <p>Pirate weight: <input type="text" name="pirate[weight]" value=""></p>
  <p>Pirate height: <input type="text" name="pirate[height]" value=""></p>
  <h3>Pirate Ship 1</h3>
  <p>Name: <input id="ship_name_1" type="text" name="pirate[ships][][name]" value=""></p>
  <p>Type: <input id="ship_type_1" type="text" name="pirate[ships][][type]" value=""></p>
  <p>Booty: <input id="ship_booty_1" type="text" name="pirate[ships][][booty]" value=""></p>
  <h3>Pirate Ship 2</h3>
  <p>Name: <input id="ship_name_2" type="text" name="pirate[ships][][name]" value=""></p>
  <p>Type: <input id="ship_type_2" type="text" name="pirate[ships][][type]" value=""></p>
  <p>Booty: <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" value=""></p>
  <input id="Submit" type="submit" name="" value="">
</form>
